h1{
    font-size: 90px;
    text-align: left;
    color: rgb(190, 101, 0);
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
body {background-color: rgb(255, 229, 191);
}
h2.primeiro{
    font-size: 50px;
    text-align: left;
    color: rgb(255, 166, 71);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.segundo{
    font-size: 50px;
    height: 10px;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 10px;

}