h1.titulo {
    position: static;
    font-family: cochin;
    font-size: 90px;
    top: -5%;
    text-align: center;
    color: #5b8f17;
    padding: 0%;
    margin: 0%;
}

button {
    border-radius: 40px;
    align-self: center;
    height: 90px;
    width: 190px;
    padding: 13px; 
    margin: 13px;
    color: #5b8f17;
    font-size: 25px;
    background-color: #bfff8a;
    border-width: 6px;
    border-color: #5b8f17;
}

h3.next {
    font-size: 25px;
    color: #5b8f17;
    position:absolute;
    padding: 0%;
    margin: 0%;
    text-align: bottom right;
    z-index: 1;
    top: 50px;
    right: 15%;
    top: 78%;
}

body{
    background-color: #d2ffaf;

}

details.abrir > summary {
    display: block;
    position: static;
    top: 5%;
    left: 5%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #5b8f17;
    border-bottom: 20px solid transparent;
    padding: 0%;
    margin: 0%;
}
details.abrir[open] > summary {
    position: static;
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #5b8f17;
    padding: 0%;
}

.fundoopc {    
    display: grid;
    column-gap: 17px;
    position:absolute;
    background-color: #a6f467;
    width: 300px;
    height: 700px;
    border-radius: 30px;
    padding: 0%;
    justify-content: center;
    border-style: groove;
    border: #5b8f17;
    border-width: 6px;
    z-index: -1;
    top: 110px;
    border-top-left-radius: 0%;
    margin: 0%;
    
}

.bras{
    border-radius: 36
    
}